:root {
  --dark: #333;
  --white: #fff;
  --light-blue: #f1f8fe;
  --main: #2b9ad6;
  --dark-blue: #194f94;
  --typo-secondary: #5f5f5f;

  --secondary: #ff5e00;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background: var(--white, #333);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  color: var(--dark, #333);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85;
}

.container {
  max-width: 1110px;
  box-sizing: border-box;
  width: 100%;
  /* border: lightgreen 5px solid; */
  margin: 0 auto;
}
.h-with-line::before {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: var(--main, #2b9ad6);
  position: absolute;
  bottom: 0;
  left: calc((100% - 100px) / 2);
}

.h2 {
  position: relative;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
}

.h3 {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 15px;
}

.header {
  padding: 50px 0;

  .h1 {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
  }

  .header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hero-text {
    max-width: 535px;
  }
}

.we-global {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .text-block {
    max-width: 690px;
    margin-bottom: 45px;
  }

  .h2 {
    height: 55px;
  }

  .h-with-line::before {
    left: 0;
  }

  .paragraf {
    margin-bottom: 20px;
  }
}

.customers-map {
  background: url("./img/word-map.png") top left no-repeat;
  background-size: contain;
  min-height: 360px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: end;
  gap: 20px;

  .customer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 90px;
    background: #fff;
    box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .customer-logo-container:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.our-customers {
  padding-bottom: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h-with-line::before {
    background: var(--secondary, #ff5e00);
  }

  .paragraph {
    padding-top: 30px;
    max-width: 758px;
    text-align: center;
  }

  .custumers-categories {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .category-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 346px;
    height: 88px;
    padding: 27px 0 27px 30px;
    border-radius: 12px;
    background: var(--light-blue, #f1f8fe);
    cursor: pointer;
  }
  .category-logo {
    filter: brightness(0) saturate(100%) invert(17%) sepia(36%) saturate(5403%)
      hue-rotate(206deg) brightness(97%) contrast(81%);
  }
  .category-container:hover {
    border-radius: 12px;
    background: linear-gradient(84deg, #004ca6 0.99%, #0c95cf 100%);
    color: var(--white);
  }
  .category-container:hover .category-logo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(13%)
      hue-rotate(193deg) brightness(102%) contrast(106%);
  }

  .next-icon {
    position: absolute;
    left: 70px;
    top: 50px;
    opacity: 0;
  }
  .category-container:hover .next-icon {
    opacity: 1;
  }
}

.leadership-block {
  padding: 100px 0;
  background: #f1f8fc;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .employees-list {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }
}

.employees-list {
  .card {
    box-sizing: border-box;
    width: 293px;
    height: 361px;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    border: 0px;
    outline: 0px;
  }

  .face-circle {
    border: solid 200px #f1f8fc;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    position: absolute;
    left: -160px;
    top: -179px;
    background-color: #e1e8ee !important;
  }

  .info-block {
    position: absolute;
    background: #f1f8fc;
    left: 0px;
    bottom: 0;
    height: 124px;
    width: 300px;
    padding-left: 27px;
  }
  .name {
    position: relative;
    max-width: 240px;
    color: var(--dark-blue, #194f94);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
  .position {
    max-width: 206px;
    color: var(--typo-secondary, #5f5f5f);
    font-size: 17px;
    line-height: 1.5;
  }

  .go-in-icon {
    position: absolute;
    top: -75px;
    left: 165px;
    opacity: 0;
  }
  .in-icon {
    position: absolute;
    top: -75px;
    left: 165px;
  }

  .card:hover {
    background: linear-gradient(
      72deg,
      rgba(0, 39, 123, 0.7) 0%,
      rgba(5, 83, 177, 0.7) 100%
    );
  }
  .card:hover .face-circle {
    border: 1px solid #fff;
    top: 20px;
    left: 39px;
    background-color: transparent !important;
  }
  .card:hover .info-block {
    background: transparent;
  }
  .card:hover .name,
  .card:hover .position {
    color: var(--white);
  }
  .card:hover .in-icon {
    opacity: 0;
  }
  .card:hover .go-in-icon {
    opacity: 1;
  }
}

.travel-tehnology {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 100px 0px;

  .teh-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .h2 {
    max-width: 450px;
  }
  .paragraph {
    max-width: 562px;
  }
  .h-with-line::before {
    left: 0;
  }
  .teh-label {
    align-self: self-start;
    width: 490px;
    padding: 15px 20px;
    color: var(--white, #fff);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    border-radius: 4px;
    background: var(
      --gradients-second-light,
      linear-gradient(84deg, #004ca6 0.99%, #0c95cf 100%)
    );
  }

  .teh-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 544px;

    .teh-card {
      max-width: 542px;
      box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.05);
    }
    .img-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e9eff8;
    }
    .info-container {
      padding: 30px 40px;
    }
    .h4 {
      color: var(--dark-blue, #194f94);
      font-size: 28px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 15px;
    }
    .description {
      margin-bottom: 45px;
    }
    .teh-button {
      padding: 12px 32px;
      border-radius: 4px;
      background: var(--secondary, #ff5e00);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      border: #ff5e00;
      outline: #ff5e00;
      cursor: pointer;
    }
  }
}

@media screen and (width < 1110px) {
  .container {
    padding-inline: 5px;
  }
  .header {
    .header-block {
      justify-content: center;
      gap: 20px;
    }
  }
  .we-global {
    justify-content: center;
    gap: 20px;
  }

  .travel-tehnology .teh-content-container {
    justify-content: center;
  }
}

@media screen and (width < 700px) {
  .customers-map {
    background: none;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
  }
  .header-block img {
    width: 90vw;
  }
}

footer {
  height: 300px;
}
